/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', serif;

/*
  max-inline-size: 767px;
  min-inline-size: 375px;
  max-block-size: 1023px;
  min-block-size: 668px;
  */
 
  inline-size: 375px;
  block-size: 668px;
  background-image: url(../images/cover-image-dark.png); 
  object-fit: contain;
  background-position: center;
  background-attachment: fixed; 
  display: grid;
  gap: 40px;
  letter-spacing: var(--standart-letter-spacing);

  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.title-decor {
  background-color: var(--accent-color);
}
.header, .main, .footer {
  background-color: aquamarine;


}

.header {
  inline-size: 100%;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  padding: 10px 10px 66px;
  object-fit: cover;
  position: relative;
}

.corner-decor::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  top: 10px; 
  right: 10px;
}

.corner-decor::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  bottom: 10px; 
  left: 10px;
}


.accent-decoration {
  display:inline-block;
  position: relative;
}

.accent-decoration::before {
  content: 'REC';
  color: var(--accent-color);
  line-height: 138.889%;
  font-weight: var(--normal-weight);
  position: absolute;
  right: 28px;
}

.accent-decoration::after { 
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
   box-shadow: 0 0 4px 2px var(--accent-color);
   position: absolute;
   top: 8px; 
   right: 8px;

}

.header__theme-menu {
  place-self: end;
  margin-top: 39px;
}

.header__theme-menu-item:not(:last-of-type) {
  margin-bottom: 13px; 
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  font-size: var(--text-font-size);  
  font-weight: var(--normal-weight);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
  opacity: 0.4;
}  

.header-title {
  color: var(--main-heading-color);
  font-size: var(--main-heading-font-size);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  font-weight: var(--bold-weight);
  margin-top: 66.5px;
}

.header-text {
  font-size: var(--text-font-size);
  font-weight: var(--bold-weight);
  padding: 0;
  margin-top: 55px;
}

/* Здесь начинаются свойства для секции main */

.main {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 0 10px 0;
}

.main-section-title, .main-section-text .header-text {
   font-size: var(--text-font-size);
   line-height: var(--standart-line-height);
   font-weight: var(--bold-weight);

}

.main-section-main-title {
  color: var(--accent-color);
}

.main-section-secondary-title {
  color: inherit;
}

.secondary-title-advice {
  color: inherit;
  font-weight: var(--normal-weight);
}

.main-section-text {
  color: var(--text-color);
  font-weight: var(--normal-weight);
}

.accent-decorated-word {
  text-shadow: 2px 1.5px 0 var(--accent-color);
}

.main-section-text-link {
  text-decoration: none;
}


.main-section-main-title, .main-section-secondary-title, p.main-section-text:not(:last-of-type) {
  margin-bottom: 20px;
}

.main-section-title.title-decor:not(.main-section-secondary-title), .gallery-title {
  margin-bottom: 10px;
}

.picture-gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery-image {
  width: 100%;
  object-fit: cover;
}

/* Стили для футера */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100vh;
  position: relative;
  padding: 10px;
}

.footer-title {
  color: var(--main-heading-color);
  font-size: var(--main-heading-font-size);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 83%;
  font-weight: var(--bold-weight);
}

