/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-heading-color: #DB00FF;
  --accent-color:#FF0070;
  --text-color: #F1B2CE; 
  --main-heading-font-size: 157px;
  --text-font-size: 18px;
  --background-color: #000028;
}
